@media (orientation: portrait) {
    #portraitDiv {
        display: block !important;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.904);
        font-size: 1.5rem;
        text-align: center;
        z-index: 2000;
        position: absolute;
        height: 100%;
        width: 100%;
        align-content: center;
        color: white;
    }
}

.active-language .inner1-2 {
    background-color: #49af5f !important;
    color: white !important;
}

.temporary-selected .inner1-2 {
    background-color: rgb(65, 62, 62) !important; /* Gray highlight for temporary selection */
    color: white !important;
}

.badges-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 15px;
}

.badge-icon {
    object-fit: contain;
    /* border: 2px solid #ddd;   */
    border-radius: 8px;
    padding: 5px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}
/*
.error-message {
    color: red;
    font-size: 0.9em;
    text-align: center;
    margin-top: 10px;
    height: 20px; /* Reserve space to prevent layout shifts */
/*
}