@media (orientation: portrait) {
    #portraitDiv {
        display: block !important;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.904);
        font-size: 1.5rem;
        text-align: center;
        z-index: 2000;
        position: absolute;
        height: 100%;
        width: 100%;
        align-content: center;
        color: white;
    }
}

.selected-language{
    background-color: #49af5f;
    color: white;
    height: 100px;
    width: 100px;
}
/*
.error-message {
    color: red;
    font-size: 0.9em;
    text-align: center;
    margin-top: 10px;
    height: 20px; /* Reserve space to prevent layout shifts */
/*
}