body {
    background-color: #6570ff;
    color: white;
    height: 10000px;
}
.normal{
    width: 500px;
    height: 300px;
    background-color: rgb(36, 143, 33);
    box-shadow: 0 20px 6px rgba(0, 0, 0, 0.1);
}

.modal1 {
    width: 500px;
    height: 300px;
    background-color: red;
    clip-path: polygon(
        0% 0%,         /* top-left */
        0% 0%,       /* top-middle (dip) */
        100% 0%,       /* top-right */
        90% 100%,     /* bottom-right */
        10% 100%        /* bottom-left (dip) */
    );
}

.distort-box {
    width: 500px;
    height: 300px;
    background-color: red;
    background-size: cover;
    background-position: center;
    clip-path: polygon(
    /* <x> <y> */
        0% 0%,         /* top-left */
        50% 10%,       /* top-middle (dip) */
        100% 0%,       /* top-right */
        90% 50%,       /* right-middle (dip) */
        100% 100%,     /* bottom-right */
        50% 90%,       /* bottom-middle (dip) */
        0% 100%,       /* bottom-left */
        10% 50%        /* left-middle (dip) */
    );
    transition: 0.3s ease;
}

.distort-box:hover {
    clip-path: polygon(
        0% 0%,         /* top-left */
        0% 0%,       /* top-middle (dip) */
        100% 0%,       /* top-right */
        90% 50%,       /* right-middle (dip) */
        100% 100%,     /* bottom-right */
        0% 100%,       /* bottom-middle (dip) */
        0% 100%,       /* bottom-left */
        10% 50%        /* left-middle (dip) */
    );
}


.notched-pill {
    width: 500px;
    height: 200px;
    border-radius: 5%;
    background-color: rgb(0, 0, 0);
    background-size: cover;
    background-position: center;
    clip-path: polygon(
        0% 0%,         /* top-left */
        100% 0%,       /* top-right */

        100% 40%,       /*right top 1st point */
        97% 40%,       /*2nd point  */
        97% 60%,       /*3rd  */
        100% 60%,       /*4th  */

        100% 100%,     /* bottom-right */
        0% 100%,       /* bottom-left */

        10% 50%        /* left-middle (dip) */
    );
    transition: 0.3s ease;
}

.notched-pill:hover {
    clip-path: polygon(
        0% 0%,         /* top-left */
        0% 0%,       /* top-middle (dip) */
        100% 0%,       /* top-right */
        90% 50%,       /* right-middle (dip) */
        100% 100%,     /* bottom-right */
        0% 100%,       /* bottom-middle (dip) */
        0% 100%,       /* bottom-left */
        10% 50%        /* left-middle (dip) */
    );
}


/* using image */
.poly1 img{
    width: 300px;
    height: 100px;
    position: absolute;

    left: 50%;
    transform: translate(-50%, -50%);
}
.poly1{
    width: 500px;
    height: 150px;
    background-color: aquamarine;
    position: relative;
}
.poly2 img{
    width: 100%;
    height: 100%;
    position: absolute;
}
.poly2{
    width: 500px;
    height: 150px;
    background-color: aquamarine;
    position: relative;
}




/* border cut */
.outer2 img{
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease;
    height: 50%;
}
.outer2{
    width: 100%;
    height: 100px;
    display: flex;
    background-color: rgba(255, 228, 196, 0);
    justify-content: center;
    transition: 0.3s ease;
    align-items: center;
}
.outer1{
    height: 80%;
    width: 50%;
    background-color: rgba(127, 255, 212, 0);
    position: relative;
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
}
.top-border{
    width: 100%;
    height: 40%;
    position: absolute;
    top: 0;
    left: 0;
    /* margin-left: -5px; */
    border-radius: 10px 10px 0px 0px;
    background-color: rgba(247, 112, 112, 0);
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-top: 3px solid white;
}
.bottom-border{
    width: 100%;
    height: 40%;
    position: absolute;
    bottom: 0;
    left: 0;
    /* margin-left: -5px; */
    border-radius: 0px 0px 10px 10px;
    background-color: rgba(243, 115, 115, 0);
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
}
.inner1 {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 195, 127, 0);
    text-align: center;
    align-content: center;
    color: white;
    font-size: 1.5rem;
    position: relative;
    z-index: 50;
}
.outer2:hover img {
    visibility: visible;
    opacity: 100;
}
.outer2:hover{
    scale: 1.1;
}





/* black button integration with arrows */
.outer2-2 img{
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease;
    height: 50%;
}
.outer2-2{
    width: 1000px;
    height: 200px;
    display: flex;
    background-color: rgba(255, 228, 196, 0);
    justify-content: center;
    transition: 0.3s ease;
    align-items: center;
}
.outer1-2{
    height: 80%;
    width: 50%;
    background-color: rgba(127, 255, 212, 0);
    position: relative;
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
}
.top-border-2{
    width: 100%;
    height: 40%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px 10px 0px 0px;
    background-color: rgb(0, 0, 0);
}
.bottom-border-2{
    width: 100%;
    height: 40%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0px 0px 10px 10px;
    background-color: rgb(0, 0, 0);
}
.inner1-2{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    text-align: center;
    align-content: center;
    font-size: 500%;
    position: relative;
    z-index: 50;
}
.outer2-2:hover img {
    visibility: visible;
    opacity: 100;
}
.outer2-2:hover{
    scale: 1.1;
}


